# PostgreSQL Connection
DB_PASSWORD=7k6k5c4c3k2c1C%)
DB_USER=postgres
DB_HOST=db.kwyfoeemqbmwsmmlyssl.supabase.co
DB_PORT=5432
DB_NAME=postgres

# Open-Meteo API (no key required, but you can set coordinates)
LATITUDE=38.2527
LONGITUDE=-85.7585
